body {
    background-color: #F6F6E9;
}

header {
    display: flex;
    align-items: center;
    /* アイテムを中央揃えにする */
    width: 100%;
}


.logo {
    display: inline-block;
    width: 7%;
}

.logo img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    /* リストの先頭の点をなしにする */
    display: flex;
    /* メニューの項目を横並びにする */
    justify-content: space-around;
    /* 項目の間隔を均一にする */
    padding: 0;
    /* パディングをなしにする */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* メニューバーの下部に薄めの線を追加 */
    width: calc(100% - 20px);
    /* 画面幅の95%からロゴのマージンを引いた幅 */
    margin-left: 20px;
    /* ロゴとメニューの間の隙間 */
}

li {
    flex: 1;
    /* 各項目の幅を均一にする */
    text-align: center;
    /* テキストをセンタリング */
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    /* 各項目の右側に薄めの線を追加 */
    padding: 10px 0;
    /* 上下のパディングを追加して、見た目を良くする */
}

li:last-child {
    border-right: none;
    /* 最後の項目の右側の線を削除 */
}

a {
    text-decoration: none;
    /* アンダーラインを削除 */
    color: black;
    /* テキストの色を黒に設定 */
    transition: color 0.3s;
    /* ホバー時の色の変更を滑らかにする */
}

a:hover {
    color: #666;
    background-color: blanchedalmond;
    /* ホバー時のテキストの色を暗灰色に変更 */
}